body{
    font-family: Arial;
}
header{
    background-color: #3131ce;
}

label{
    background-color: rgb(121, 121, 216);
}
input, select, textarea{
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}
button{
    padding: 10px;
    background-color: #3131ce;
    color: white;
    border: none;
    cursor: pointer;
}
