body{
    font-family: Arial;
    background-image: url(assets/cachorro.webp);
    background-size: cover;
    background-position: center;
}
header{
    background-color: #a6bd27;
}

label{
    background-color: #bba543;
}
input, select, textarea{
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}
button{
    padding: 10px;
    background-color: #bba543;
    color: white;
    border: none;
    cursor: pointer;
}

